* {
    box-sizing: border-box;
}

header {
    background-color: #ccc; 
    text-align: center;
    padding: 5px;
    /* display: block; */
}

nav {
    text-align: center;
    background-color: #eee;
    /* display: block; */
    padding: 5px;
}

main {
    display: block;
    background-color: #555;
    padding: 2%;
    margin-top: 15px;
    height: 500px;
}

h2 {
    text-align: center;
    margin: 0 auto;
}

div {
    border: 5px solid gold;
}

.left {
    width: 62.5%;
    display: inline-block;
    background-color: #888;
    padding: 2%;
    margin-right: 2%;
    border: none;
    height: 100%;
}

.article {
    background-color: #ddd;
    padding: 15px;
    display: block;
}

.image-area {
    display: block;
    margin-top: 15px;
    border: none;
}
.image {
    width: 31%;
    display: inline-block;
    background-color: #ddd;
    margin-right: 2.8%;
    height: 200px;
    line-height: 200px;
}

.image:last-child{
    margin-right: 0 !important;
}


.right{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    background-color: #888;
    padding: 2%;
    border: none;
    height: 100%;
}

.project {
    padding: 15px;
    background-color: #ddd;
}

.list {
    background-color: #ddd;
    padding: 15px;
    margin-top: 15px;
}

footer {
    text-align: center;
    margin-top: 15px;
    padding: 30px;
    background-color: #ccc;
}